body {
    color: #6a0f8b;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

.heading {
    font-family: "Brush Script MT", sans-serif;
    background-color: #deff2534;
}

.main-topic {
    color: #245D00;
    font-size: 50px;
}

.sub-topic {
    font-size: 32px;
}

.main-page {
    font-size: 28px;
    font-weight: 900;
}